
@model Shared.Models.SignUp
@{
    Layout = null;
}
<div id="form">
    <div id="form-title">
        <span><a href="#" style="color:red;">SIGN UP</a></span>
    </div>
    <div id="form-content">

        @if (ViewBag.Mess == "1")
        {
                <span style="color: red"st><p>
                    Signup unsuccessfully
                </p></span>
        }
        else if (ViewBag.Mess == "2")
        {
                <p>
                    Password and Repassword is different
            </p>
        }
        else if (ViewBag.Mess == "3")
        {
            <p>Email is required</p>
        }
        @using (Html.BeginForm("SignupAccount", "Account", FormMethod.Post))
        {
                <div>
                    <div>
                        @Html.LabelFor(x => x.Email)
                        <input asp-for="Email" type="text" required/>
                        <span style="color: red;">@Html.ValidationMessageFor(x => x.Email)</span>
                    </div>
                    <div>
                        @Html.LabelFor(x => x.Password)
                        @*@Html.TextBoxFor(x => x.Password)*@
                        <input asp-for="Password" type="password" required/>
                        <span style="color: red;">@Html.ValidationMessageFor(x => x.Password)</span>
                    </div>
                    <div>
                    @Html.LabelFor(x => x.FullName)
                    <input asp-for="FullName" type="text" required />
                        <span style="color: red;">@Html.ValidationMessageFor(x => x.FullName)</span>
                    </div>
                    <div>
                    @Html.LabelFor(x => x.PhoneNumber)
                    <input asp-for="PhoneNumber" type="text" required />
                    <span style="color: red;">@Html.ValidationMessageFor(x => x.PhoneNumber)</span>
                    </div>
                    <div>
                    @Html.LabelFor(x => x.Address)
                    <input asp-for="Address" type="text" required />
                        <span style="color: red;">@Html.ValidationMessageFor(x => x.Address)</span>
                    </div>

                    <div>
                        <input type="submit" value="Save" />
                    <a href="/Products/Index"><input type="button" value="Back" style="background-color:#0d6efd !important;" /></a>
                    </div>
                </div>
        }
    </div>
</div>
<link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />