@model Shared.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>@Model.ProductName</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ProductImage" alt="@Model.ProductName" class="img-fluid" />
        </div>
        <div class="col-md-6">
            <p>@Model.ProductDescription</p>
            <p>@Model.ProductPrice.ToString("c")</p>
            <p>@Model.Manufacturers.ManufacturerName</p>
            <form method="post" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.ProductID" asp-route-quantity="quantity">
                <input type="hidden" name="productId" value="@Model.ProductID" />
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" class="form-control" name="quantity" value="1" min="1" />
                </div>
                <button type="submit" class="btn btn-primary">Add to cart</button>
            </form>
        </div>
    </div>
</div>
