@model Shared.PageView.ProductByView

@{
    ViewData["Title"] = "Product by Manufacturer";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="https://img.freepik.com/free-vector/font-design-word-toy-shop-with-many-toys_1308-42318.jpg" width="100" height="70" alt="Home Page" />
            </a>
            <a class="navbar-brand" style="margin-left: 10px; font-size: 23px; font-weight: 600; color: blue" asp-area="" asp-controller="Home" asp-action="Index">Toy-Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1" style="font-size: 18px; font-weight: 600">
                    <li class="nav-item spaces">
                        <a class="nav-link text-dark" asp-route-id="OP" asp-area="" asp-controller="Home" asp-action="Categories">Once Piece</a>
                    </li>
                    <li class="nav-item spaces">
                        <a class="nav-link text-dark" asp-route-id="DRB" asp-area="" asp-controller="Home" asp-action="Categories">Dragon Ball</a>
                    </li>
                    <li class="nav-item spaces">
                        <a class="nav-link text-dark" asp-route-id="AD" asp-area="" asp-controller="Home" asp-action="Categories">Marvel</a>
                    </li>
                    <li class="nav-item spaces">
                        <a class="nav-link text-dark" asp-route-id="PO" asp-area="" asp-controller="Home" asp-action="Categories">Pokémon</a>
                    </li>
                    <li class="nav-item spaces">
                        <a class="nav-link text-dark" asp-route-id="BR" asp-area="" asp-controller="Home" asp-action="Categories">Bear Brick</a>
                    </li>
                    <li class="nav-item spaces">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="display: flex; width: 20%">
            <button type="submit"
                    style="background-color: lightgreen;
                       margin-right: 5px;
                       color: #000;
                       font-size: 18px;
                       font-weight: bold;
                       border: 0px solid;
                       border-radius: 10px;
                       padding: 5px 10px">
                Sign In
            </button>
            <button type="submit"
                    style="background-color: orangered;
                       color: #fff;
                       font-size: 18px;
                       border: 0px solid;
                       border-radius: 10px;
                       font-weight: bold;
                       padding: 5px 10px">
                Sign Up
            </button>
        </div>
    </nav>
</header>

<div>
    <h3>
        @ViewBag.Total
    </h3>
</div>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm items-li-view">
                <img src="@product.ProductImage" class="card-img-top items-image-view" alt="@product.ProductName">
                <div class="card-body">
                    <h4 class="card-title items-name">@product.ProductName</h4>
                    <p class="card-text items-description">@product.ProductDescription</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="@Url.Action("Details", "Home", new { id = product.ProductID })" class="btn btn-sm btn-outline-secondary">
                                <i class="fa fa-search w3-padding w3-text-red"></i>
                            </a>
                        </div>
                        <p class="text-muted items-price">@product.ProductPrice.ToString("c")</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
